<div class="container">
  <div id="map"></div>
  <script>
    var width  = $(window).width()*0.95;
    var height = $(window).height();
    var topics = <%= raw(@map_topics.to_json) %>
    var links  = <%= raw(@map_links.to_json) %>
    xmap(topics, links, width, height, -5);
  </script>
</div>