<div id="start-page-bg">
  <div class="image-wrap">
    <div class="overlay"></div>
  </div>
  <div class="banner-content">
      <h1>請開始你的主題探索</h1>
      <% @intro_topics.each do |topic| %>
      <%= link_to "#{topic.name}", topic_path(topic.id, :center => topic.id, :page_num => 0, :scale => 3), class: "btn btn-default btn-lg" %>
    <% end %> 
  </div>
</div>