<div class="image-wrap">
  <div class="img-content">
    <%= image_tag "start-page-bg3.jpg" %>
  </div>
  <div class="overlay"></div>
</div>
<div class="banner-content">
    <h1>今天想從哪個知識領域開始探索</h1>
    <% @intro_topics.each do |topic| %>
    <%= link_to "#{topic.name}", topic_path(topic.id, :center => topic.id, :page_num => 0, :scale => 3), class: "btn btn-default btn-lg" %>
  <% end %> 
</div>