<div class="page-header">
  <h2>通知</h2>
</div>
<div class="notifications" id="notificationsIndex">
  <ul class="notification-list" id="notification-data">
    <% @all_notifications.each do |notification| %>
      <%=render partial: "notifications/share_list", locals: {notification: notification} %>
    <% end %>
  </ul>
</div>